@import ../../../styles/variables

.footer
    color: $gray
    display: flex
    align-items: center
    flex-direction: column
    &Top
        display: flex
        align-items: center

    &Middle
        margin: 1.875rem 0 0 0
        &>ul
            display: flex
            list-style: none
            justify-content: space-between
            &>li
                &>a
                    text-decoration: none
                    color: $gray
                    
                &:nth-child(1)
                        display: none

    &Bottom
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 0 6.25rem

        &Left
            display: flex
            flex-direction: column
            align-items: flex-start

@media screen and (max-width: 500px)
    .footer
        &Middle
            &>ul
                justify-content: center
                flex-wrap: wrap
                width: 180px
                &>li
                    padding: 0 .5rem
                    margin-bottom: .625rem
                    &:nth-last-child(1)
                        display: none
                    &:nth-last-child(2)
                        display: none
        &Bottom
            align-items: flex-start
            flex-direction: column

.dots
    display: flex
    justify-content: center
    margin: 2rem 0
    &>*
        margin: 0 0 0 1.875rem
        background: none
        border: none

.desc
    width: 17.875rem

@media screen and (max-width: 500px)
    .dots
        justify-content: space-between
        &>*
            margin: 0
    .desc
        display: none

.logo
    display: flex
    align-items: center
    margin: 0 0 1rem 0

    &>span
        margin: 0 0 0 .625rem