{
  "extends": ["plugin:@next/next/recomended"],
  "rules": {
    "quotes": ["warn", "double"],
    "indent": ["error", 2],
    "jsx-quotes": ["warn", "prefer-double"],
    "semi": "warn",
    "no-unused-vars": "warn"
  }
}
