@import ../../../styles/variables
  
.editor
    background: $background

.panelEditorType
    margin: 0 0 1rem 0
    
.textarea
    background: $background
    color: $white
    min-width: calc(100% - .25rem)
    max-width: calc(100% - .25rem)
    min-height: 25rem
    max-height: 50rem
    margin: 0 1rem 0 0
    padding: 1rem
    border: none
    outline: none