@import ../../../../styles/variables
    
.box
    border: 1px solid $border
    border-radius: .625rem
    background: $block
    padding: .625rem
    margin: 0 0 2.375rem 0
    width: 100%

    &Top
        margin: .5rem