@import ../../../../styles/variables
    
.box
    border-radius: .625rem
    background: $block
    padding: 1.25rem
    margin-bottom: 2.375rem
    width: 100%
    padding: 1.25rem

    &>.middle>*
        margin-bottom: 1.125rem

        &:last-child
            margin-bottom: 0

.title
    margin-bottom: 1.5625rem
    font-weight: 600
    font-size: 1.5ren