@import ../../../../styles/variables
    
.box
    border-radius: .625rem
    background: $block
    padding: 1.25rem
    margin: 0 0 2.375rem 0
    width: 100%

    &>.middle>*
        margin-bottom: 1.125rem

        &:last-child
            margin-bottom: 0

    &Top
        margin: .5rem .5rem 1.5625rem .5rem
        &>*
            font-weight: 600