@import ../../../styles/variables

.rank
  display: flex
  align-items: center
  color: $white
  background: $block
  border: 1px solid $border
  border-radius: .3125rem
  margin: 0 0 0 1.375rem
  padding: .625rem
  &>*:nth-child(2)
    margin: 0 1rem

.growReputation, .reduceReputation
  border: none
  background: none