@import ../../../styles/variables


.nav
  display: flex
  align-items: center

.LinkInsteadButton // its used only for styling Links components to purple buttons
  border: 1px solid $pink
  background-color: $purple
  text-decoration: none
  color: $white
  padding: 0.6875rem 1.25rem
  margin: 0 0 0 1rem
  font-weight: 500
  border-radius: 5px
  cursor: pointer

@media screen and (max-width: 55rem)
  .nav
    &Login
      display: none
    // &Search
    //   display: none