@import ../../../styles/variables


.nav
  display: flex
  align-items: center

.LinkInsteadButton
  border: 1px solid $pink
  background-color: $purple
  text-decoration: none
  color: $white
  padding: 0.6875rem 1.25rem
  margin: 0 0 0 1rem
  font-weight: 500
  border-radius: 5px
  cursor: pointer

@media screen and (max-width: 55rem)
  .nav
    &Login
      display: none

.centr
  display: flex
  align-items: center
  &>*
    margin: 0 0 0 1rem

.panel
  user-select: none
  position: absolute
  color: $white
  border: 1px solid $border
  border-radius: .375rem
  padding: .625rem
  background: $block
  .top, .middle
    border-bottom: 1px solid $border

  .top
    &>*
      padding: 0 0 .5rem 0
      color: $white
      font-weight: 600
      cursor: pointer
      text-decoration: none
      display: block
  .middle
    &>*
      display: block
      padding: 0 0 .5rem 0
      width: 100%
      color: $white
      text-decoration: none
      &:first-child
        padding-top: .5rem
  .bottom
    &>*
      display: block
      padding: .5rem 0 0 0
      width: 100%
      color: $red
      font-weight: 600
      text-decoration: none
  
.office
  background: none
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center


@media screen and (max-width: 40rem)
  .panel
    box-sizing: border-box
    width: calc( 100% - 3.125rem )
    left: 1.5625rem
    top: 4.25rem

  .office
    padding: 0
  .LinkInsteadButton
    display: none