@import ../../styles/variables

.link
    color: $pink

.block
    background: $block
    border-radius: .875rem
    padding: .5rem

    &>*
        margin: 1rem 0

    &>button
        width: min-content

.red
    border: 2px dashed $red