@import variables

.editor
    display: flex
    justify-content: space-between
    &>*:first-child
        width: 70%
    &Buttons
        display: flex
        margin-top: 1.5rem
        &>*
            width: fit-content
            margin-right: 1.25rem

.aside
    position: sticky
    top: 5rem
    height: min-content
    width: 25%
    color: $gray

    display: flex
    flex-direction: column
    gap: 1.5rem
    &>*
        background: $block
        padding: 1rem
        width: 100%
        border-radius: .625rem
        &>h1
            color: $white
            margin-bottom: 1.5rem

.chapters
    display: flex
    flex-direction: column
    gap: .5rem
    &Selected
        background: $background
        &:hover
            background: $background !important
    &Unselected
        background: none
        cursor: pointer

.button
    color: $gray
    text-align: left
    border: none
    border-radius: .5rem
    padding: .625rem

    &:hover
        background: $border

.images

    &Background
        position: absolute
        z-index: -999
        border-radius: .625rem

    &AddImage
        display: flex
        align-items: center
        justify-content: space-between
        background: $block
        color: $white
        border-radius: .625rem
        width: 14.75rem
        height: 9.75rem
        padding: 0 2.375rem
        cursor: pointer

    &Plus
        font-size: 4rem
        font-weight: 400
        line-height: 1rem

    &Text
        font-size: 1.125rem
        font-weight: 400
        width: 6.875rem

    &List
        display: flex
        flex-wrap: wrap

        &>*
            margin: 0 1.25rem 1.25rem 0

    &Image
        border-radius: .625rem
        overflow: hidden
        background-size: contain
        background-repeat: no-repeat
        width: 9.75rem
        height: 9.75rem
        display: flex
        justify-content: flex-end
        padding: .125rem

        &>.board
            display: flex
            justify-content: flex-end

            &>button
                background: $block
                border: none
                border-radius: .25rem
                width: min-content
                height: min-content
                margin: .5rem .5rem 0 0
                padding: .375rem

                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                user-select: none

.textarea
    &Top
        display: flex
        justify-content: space-between
        padding-bottom: .25rem
    &Bottom
        color: $white
        word-break: break-all
        min-height: 6.5rem
        outline: none
        overflow-y: scroll
        font-size: 1.125rem
        &>*
            &>a, &>*>a, &>*>*>a
                color: $pink
.txt
    min-height: 6.5rem

.panel
    margin: 1.625rem 0
    &>div>button
        border-radius: .25rem
        margin-right: .5rem
        padding: .625rem
        cursor: pointer

.selected
    border: 2px solid $pink
    background: $purple

.unselected
    border: 2px solid rgba(0, 0, 0, 0)
    background: none

.view
    &>*
        color: $white
    &Title
        background: none
        border: none
        outline: none
        font-size: 3rem
        margin-bottom: 2rem

.enabled
    display: inline-block
    position: absolute
    background: $background
    border: 1px solid $purple
    border-radius: .625rem
    // width: 10rem
    padding: .5rem
    &>*
        margin-bottom: .25rem

.disabled
    display: inline-block

.board
    display: flex
    justify-content: space-between
    &>*
        margin-right: 1rem
        width: fit-content
        height: min-content
        &:last-child
            margin-right: 0

.dragDrop
    background: $block
    color: $white
    padding: 2rem

.block
    background: $block
    padding: .625rem
    border-radius: .625rem
    color: $gray
    margin-top: 1.625rem

.addTag
    background: none
    border: 1px solid $green
    border-radius: 50%
    width: 1.625rem
    height: 1.625rem
    display: inline-flex
    justify-content: center
    align-items: center
    cursor: pointer


.tags
    display: flex
    flex-wrap: wrap
    gap: .625rem
.tag
    background: none
    border: 1px solid $border
    border-radius: .25rem
    padding-left: .625rem
    color: $white
    width: fit-content
    display: flex
    align-items: center
    &Name
        display: inline-flex
        gap: .25rem
        margin-right: .875rem
        padding: .25rem 0
.close
    background: none
    border: none
    cursor: pointer

    display: inline-flex
    justify-content: center
    align-items: center

    padding: .25rem .625rem