@import variables

.editor
    display: flex
    justify-content: space-between
    &>*:first-child
        width: 70%
    &Buttons
        display: flex
        margin-top: 1.5rem
        &>*
            width: fit-content
            margin-right: 1.25rem

.aside
    height: min-content
    width: 25%
    color: $gray
    &>*
        background: $block
        padding: 1rem
        width: 100%
        border-radius: .625rem
        margin-bottom: 1.5rem
        &>h1
            color: $white
            margin-bottom: 1.5rem

.chapters
    display: flex
    flex-direction: column
    &Selected
        background: $background
    &Unselected
        background: none
        cursor: pointer

.button
    color: $gray
    text-align: left
    border: none
    padding: .625rem


.images

    &Background
        position: absolute
        z-index: -999
        border-radius: .625rem

    &AddImage
        display: flex
        align-items: center
        justify-content: space-between
        background: $block
        color: $white
        border-radius: .625rem
        width: 14.75rem
        height: 9.75rem
        padding: 0 2.375rem
        cursor: pointer

    &Plus
        font-size: 4rem
        font-weight: 400
        line-height: 1rem

    &Text
        font-size: 1.125rem
        font-weight: 400
        width: 6.875rem

    &List
        display: flex
        flex-wrap: wrap

        &>*
            margin: 0 1.25rem 1.25rem 0

    &Image
        border-radius: .625rem
        overflow: hidden
        background-size: contain
        background-repeat: no-repeat
        width: 9.75rem
        height: 9.75rem
        display: flex
        justify-content: flex-end
        padding: .125rem
        

        &>.board
            display: flex
            justify-content: flex-end
            
            &>button
                background: $block
                border: none
                border-radius: .25rem
                width: min-content
                height: min-content
                margin: .5rem .5rem 0 0
                padding: .375rem

                display: flex
                align-items: center
                justify-content: center
                cursor: pointer
                user-select: none

.textarea
    background: $block
    padding: .625rem
    border-radius: .625rem
    color: $gray
    min-height: 10.5rem
    &Top
        display: flex
        justify-content: space-between
        padding-bottom: .25rem
    &Bottom
        color: $white
        word-break: break-all
        min-height: 6.5rem
        max-height: 15rem
        outline: none
        overflow-y: scroll
        font-size: 1.125rem
.txt
    min-height: 6.5rem

.panel
    margin: 1.625rem 0
    &>button
        border-radius: .25rem
        margin-right: .5rem
        padding: .625rem
        cursor: pointer

.selected
    border: 2px solid $pink
    background: $purple

.unselected
    border: 2px solid rgba(0, 0, 0, 0)
    background: none

.view
    &>*
        color: $white
    &Title
        background: none
        border: none
        outline: none
        font-size: 3rem
        margin-bottom: 2rem