@import variables
@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $background
    max-width: 100vw
    overflow-x: hidden
    font-family: 'Raleway', sans-serif

div
    font-family: 'Raleway', sans-serif

a
    text-decoration: none
    color: $white

code
    display: block
    background: $background
    border-left: 1px solid $border
    padding: .5rem

.hljs-strong
    font-weight: 600

.hljs-emphasis
    font-style: italic

.hljs-meta,
.hljs-section
    color: $red
    font-weight: 600

.hljs-quote
    color: $red

.hljs-code
    color: $green

.hljs-symbol
    color: $orange
    font-weight: 600

.hljs-attr
    font-style: italic

.hljs-string
    color: $orange

.hljs-bullet
    color: $green

.hljs-link
    color: $pink

.minWidth
    width: min-content

.centrFlex
    display: flex
    align-items: center
    &>*
        width: min-content
        
    &>*:last-child
        margin-left: .625rem

.green
    color: $green
.orange
    color: $orange
.red
    color: $red
.gray
  color: $gray