@import variables
  
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $background

.strong
    font-weight: 600

.italic
    font-style: italic

.meta
    color: $red
    font-weight: 600