@import ../styles/variables

.main
  display: flex

@media screen and (max-width:72.5rem)
  .main
    display: flex
    flex-direction: column-reverse
    align-items: center

.article
  margin: 0 2rem 0

.sorting
  display: flex
  color: $gray
  margin: 0 0 1.125rem
  width: min-content

.new, .best, .popular
  margin: 0 1.25rem 0 0
  background: none
  border: none
  color: $gray
  cursor: pointer
  &:focus
    color: white

@media screen and (max-width: 55rem)
  .main
    // width: max-content
  .sorting
    display: flex
    justify-content: space-around
    width: 100%