@import ../../../styles/variables

.comment
  width: 100%
  color: $white
  &Body
    display: flex
    align-items: flex-start
  &Top
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 1rem
    color: $gray
  &Content
    padding: .75rem
    margin-left: .75rem
    background: $block
    border-radius: .375rem
    min-width: 17.25rem
    width: 100%

  &Left
    display: flex
    align-items: center

    &>p
      margin-right: .5rem

.rank
  display: flex
  flex-direction: column
  align-items: center
  min-width: 2rem

  &>button
    border: none
    border-radius: .25rem
    background: none
    cursor: pointer
    width: 1.125rem
    height: 1.125rem

    &:disabled
      cursor: not-allowed
      background: $border
  &Count
    margin: .1875rem 0
    font-weight: 600

.growRep
  transition: .5s
  &:hover
    transition: .25s
    background: $green

.decreaseRep
  transition: .5s
  &:hover
    transition: .25s
    background: $red

.userName
  margin: 0 .25rem 0 .625rem
  color: $gray

.post
  display: flex
  justify-content: space-between
  margin-bottom: .875rem
  &Name
    font-size: 1.25rem
  &Author
    display: flex
    align-items: center
    gap: .625rem