@import ../../../styles/variables

.form
    color: $white
    border-radius: .6875rem

.formBackground
    background: $block
    padding: .625rem

.panel
    display: flex
    margin: 2rem 0
    &>*
        margin: 0 0 0 .5rem
        display: flex
        align-items: center
        justify-content: center
        background: none
        border: none
        border-radius: .25rem
        border: 1px solid rgba(0, 0, 0, 0)

.editor
    display: flex
    flex-direction: column
    border-radius: .5625rem
    color: $white
    min-height: 10.5rem

    &Info
        display: flex
        justify-content: space-between
        color: $gray
        margin: 0 0 .25rem 0

        &>*:nth-child(2)
            font-size: .875rem

    &Content
        outline: none
        font-family: 'Droid Sans Mono', 'monospace', monospace
        word-break: break-all
    &Content>*
        width: 100%
        &:hover
            background: $grayb
        &:focus
            background: $background

.buttons
    margin: 1.625rem 0 0 0

    &>*
        margin: 0 1.25rem 0 0
        width: fit-content

.darkText
    color: $background

.selected
    background: $purple
    border: 1px solid $pink

.red
    color: $red

.green
    color: $green

.orange
    color: $orange

.hovered:hover
    border: 1px solid $border